/autom4te.cache
*~
*.o
Makefile
/config.h
/config.log
/config.status
.deps
/stamp-h1
/initrd
/initrd.cpio.gz
/uInitrd
/build-stamp
TAGS
/Makefile.in
/aclocal.m4
/config.h.in
/configure
/depcomp
/install-sh
/missing
/compile
.*.sw?
cscope.out
/doxy/
/Doxyfile
/src/stackd.h
.vscode
