Source: presteramgr
Section: net
Priority: required
Maintainer: Oleg Belozeorov <obelozeorov@plgn.ru>

Package: presteramgr
Architecture: any
Section: net
Description: Prestera family switch manager
 presteramgr is a management daemon for Marvell Prestera family
 switches.

Package: presteractl
Architecture: any
Section: net
Description: Prestera family switch manager control tool
 presteractl is a control tool for presteramgr.

Package: fanctl
Architecture: any
Section: admin
Description: Arlan-3424GE fan control utility
 Arlan-3424GE fan control utility.

Package: sfpctl
Architecture: any
Section: admin
Description: SFP control utility
 SFP control utility.
